.catalog {
  width: auto;
  margin: 0 auto;
}

.catalog__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 71px;
  padding-bottom: 75px;
  font-size: $font-size--md;
  line-height: $font-size--md + 3;
  font-weight: 700;
  text-align: center;
  color: $color-black;
  background-color: $bg-color;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media (min-width: $screen-md) {
  .catalog__title {
    position: relative;
    margin-bottom: 78px;
    padding-top: 100px;
    padding-bottom: 77px;
    font-size: $font-size--md + 16;
    line-height: $font-size--md + 23;

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 0;
      display: block;
      width: 100%;
      height: 24px;
      max-height: 34px;
      padding-top: 2.95652%;
      background-image: url("../img/zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 50% 100%;
    }
  }

  .catalog__list {
    width: 668px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $screen-xl) {
  .catalog__title {
    margin-bottom: 120px;
    padding-top: 100px;
    padding-bottom: 105px;
    font-size: $font-size--md + 26;
    line-height: $font-size--md + 30;

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 0;
      display: block;
      width: 100%;
      // height: 24px;
      height: 34px;
      padding-top: 2.95652%;
      background-image: url("../img/zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 50% 100%;
    }
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1050px;
    margin: 0 auto;
  }
}
