.field-text {
  margin-bottom: 34px;

  &--block {
    margin-bottom: 20px;
  }

  &--description {
    margin-bottom: 8px;
  }
}

.field-text__name {
  font-size: $font-size--middle;
  line-height: $font-size--middle + 1;
  font-weight: 700;
  color: $color-black;
}

// .field-text__list:nth-child(2),
// .field-text__list:nth-child(3) {
  // margin-top: 23px;
// }

.field-text__list {
  margin-top: 23px;

  &:first-child {
    margin-top: 0;
  }
}

.field-text__input:nth-child(2) {
  margin-top: 7px;
  margin-bottom: 15px;
}

.field-text__title {
  font-size: $font-size--middle;
  line-height: $font-size--middle - 1;
  font-weight: 700;
  color: $text-aqua;
  text-transform: uppercase;

  &--block {
    padding-bottom: 16px;
  }

  &::before {
    position: absolute;
    content: "";
    right: 0;
    top: 7px;
    height: 1px;
    width: 198px;
    background-color: $text-aqua;
  }
}

.field-text__item {
  padding-top: 17px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 2px solid #000000;
  font-family: inherit;

  &::placeholder {
    font-size: $font-size--middle;
    line-height: $font-size--middle + 1;
  }

  &:hover {
    border-bottom: 2px solid $text-aqua;
    outline: none;
  }

  &:active {
    opacity: 1;
    border-bottom: 2px solid $text-aqua;
    outline: none;
  }
}

.field-text__input {
  padding-top: 12px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid $color-black;
  font-family: inherit;

  &::placeholder {
    font-size: $font-size--middle;
    line-height: $font-size--middle + 1;
  }

  &:hover {
    border-bottom: 2px solid $text-aqua;
    outline: none;
  }

  &:active {
    opacity: 1;
    border-bottom: 2px solid $text-aqua;
    outline: none;
  }
}

.field-text__list {
  position: relative;
  display: flex;
  flex-direction: column;

  &--textarea .field-text__input {
    min-height: 123px;
    border: 2px solid $color-black;
    padding: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-left: 15px;
    font-size: $font-size--h4;
    line-height: $font-size--h4 - 1;
    background-color: #ffffff;

    &:hover {
      border: 2px solid $text-aqua;
      outline: none;
    }

    &:active {
      opacity: 1;
      border: 2px solid $text-aqua;
      outline: none;
    }
  }
}

.field-text__phone {
  position: absolute;
  right: 8px;
  bottom: 32px;
  opacity: 0.2;

  input:hover ~ & {
    opacity: 1;
    fill: $text-aqua;
  }
}

.field-text__mail {
  position: absolute;
  right: 3px;
  bottom: 25px;
  opacity: 0.2;

  input:hover ~ & {
    opacity: 1;
    fill: $text-aqua;
  }
}

@media (min-width: $screen-md) {
  .field-text {
    width: 510px;
    margin: 0;
    margin-bottom: 50px;
    padding-top: 65px;

    &--description {
      width: 100%;
      padding: 0;
      margin-bottom: 52px;
    }

    &--block {
      position: relative;
      width: 668px;
      margin: 0;
      padding-bottom: 48px;
      padding-top: 54px;
    }
  }

  .field-text__name {
    margin-right: 26px;
    font-size: $font-size--h4;
  }

  .field-text__title {
    width: 167px;
    padding-top: 12px;

    &::before {
      display: none;
    }

    &--block {
      padding: 0;
      padding-top: 20px;
    }
  }

  .field-text__item {
    width: 100%;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 14px;
    padding-left: 17px;
    padding-right: 17px;

    &::placeholder {
      font-size: $font-size--h4;
      letter-spacing: 0.025em;
    }
  }

  // .field-text__list:nth-child(2),
  // .field-text__list:nth-child(3) {
    // margin-top: 41px;
  // }

  .field-text__list {
    margin-top: 41px;

    &:first-child {
      margin-top: 0;
    }
  }

  .field-text__list--box {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  .field-text__input:nth-child(2) {
    margin-bottom: 0;
    margin-top: 0;
  }

  .field-text__input {
    flex-grow: 1;
    padding: 0;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 17px;
    padding-right: 40px;
    background-color: #f1f1f1;

    &::placeholder {
      font-size: $font-size--h4;
      line-height: $font-size--h4 - 1;
      letter-spacing: 0.02em;
      font-family: inherit;
    }
  }

  .field-text__phone {
    right: 27px;
    bottom: 16px;
  }

  .field-text__mail {
    right: 22px;
    bottom: 9px;
  }

  .field-text__list {
    display: flex;
    flex-direction: row;

    &--textarea {
      padding-top: 52px;
    }

    &--textarea .field-text__input {
      min-height: 123px;
      border: 2px solid $color-black;
      padding: 0;
      padding-top: 15px;
      padding-left: 15px;
      font-size: $font-size--h4;
      line-height: $font-size--h4 - 1;
      background-color: #ffffff;

      &:hover {
        border: 2px solid $text-aqua;
        outline: none;
      }

      &:active {
        opacity: 1;
        border: 2px solid $text-aqua;
        outline: none;
      }
    }
  }
}

@media (min-width: $screen-xl) {
  .field-text {
    width: 700px;
    margin-bottom: 48px;

    &--block {
      width: 875px;
      margin-bottom: 0;
      padding-top: 56px;
    }
  }

  .field-text__title {
    width: 113px;
    margin-left: 62px;
  }

  .field-text__list {
    &--textarea {
      width: 875px;
    }
  }

  .field-text__phone {
    right: 7px;
    bottom: 18px;
  }

  .field-text__mail {
    right: 5px;
    bottom: 10px;
  }
}
