.field-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 34px;
}

.field-checkbox__name {
  position: relative;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 22px;
  font-size: $font-size--middle;
  line-height: $font-size--middle + 1;
  font-weight: bold;
  color: $color-black;

  &__name:last-child {
    margin: 0px;
  }
}

.field-checkbox__text {
  position: relative;
  padding-left: 62px;
  padding-top: 10px;

  &::before {
    position: absolute;
    content: "";
    width: 37px;
    height: 37px;
    left: 0;
    top: 0;
    border: 2px solid $text-dark;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 37px;
    height: 37px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: calc(70%);

    input:checked ~ & {
      display: block;
    }
  }

  &:hover::before {
    border: 2px solid $text-aqua;
  }

  &:active::after {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.field-checkbox__input[type="checkbox"] {
  display: none;
}

@media (min-width: $screen-md) {

  .field-checkbox {
    width: 501px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 48px;
    margin-bottom: 25px;
  }
  .field-checkbox__input {
    margin-right: 28px;
  }

  .field-checkbox__name {
    width: 238px;
    margin-bottom: 28px;
    padding-top: 15px;
    padding-bottom: 16px;
    font-size: $font-size--h4;
  }

  .field-checkbox__text {
    padding-left: 80px;

    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 48px;
      left: 0;
      top: 0;
      border: 2px solid $text-dark;
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      left: 15px;
      top: 20px;
      width: 37px;
      height: 37px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-size: calc(70%);
    }
  }
}


@media (min-width: $screen-xl) {

  .field-checkbox {
    width: 770px;
  }
  .field-checkbox__name {
    width: 243px;
  }
}
