.field-radio {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.field-radio__name {
  position: relative;
  // padding-top: 12px;
  // padding-bottom: 10px;
  margin-bottom: 13px;
  font-size: $font-size--middle;
  line-height: $font-size--middle + 1;
  font-weight: 700;
  color: $color-black;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }
}

.field-radio__text {
  position: relative;
  padding-left: 60px;
  display: block;

  &--decor {
    padding-top: 5px;
  }

  &--toy {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid $text-dark;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 13px;
    top: 12px;
    background-color: $text-aqua;
    border-radius: 50%;

    input:checked ~ & {
      display: block;
    }
  }

  // &:focus::before {
    // outline: #63d1bb;
  // }

  // &:hover::before {
    // border: 2px solid #63d1bb;
  // }

  // &:active::before {
    // border: 2px solid rgba(68, 68, 68, 0.3);
  // }
}

.field-radio__input:focus + .field-radio__text::before {
  border: 2px solid #63d1bb;
}
.field-radio__input:hover + .field-radio__text::before {
  border: 2px solid #63d1bb;
}

.field-radio__input:active + .field-radio__text::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

@media (min-width: $screen-md) {
  .field-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 501px;
    margin-bottom: 40px;
  }

  .field-radio__name {
    margin-bottom: 24px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: $font-size--h4;
  }

  .field-radio__text {
    position: relative;
    padding-left: 77px;
    display: block;

    &--decor {
      padding-top: 0;
    }

    &--toy {
      padding-top: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 46px;
      height: 46px;
      left: 0;
      top: -17px;
      border-radius: 50%;
      border: 2px solid $text-dark;
    }

    &::after {
      width: 20px;
      height: 20px;
      left: 15px;
      top: 0px;
      background-color: $text-aqua;
      border-radius: 50%;
    }
  }
}

@media (min-width: $screen-xl) {
  .field-radio {
    display: flex;
    flex-direction: column;
  }

  .field-radio__text {
    &::after {
      display: none;
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      left: 15px;
      top: -3px;
      background-color: $text-aqua;
      border-radius: 50%;
    }

  }
}
