.form {
  margin-bottom: 55px;
}

.form__legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: $font-size--middle;
  line-height: $font-size--middle - 1;
  font-weight: 700;
  color: $text-aqua;
  text-transform: uppercase;

  &--checkbox {
    padding-bottom: 25px;
  }

  &::before {
    position: absolute;
    content: "";
    right: 0;
    top: 7px;
    height: 1px;
    width: 198px;
    background-color: $text-aqua;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 260px;
  margin: 0 auto;
}

.form__wrapper {
  max-width: 260px;
  margin: 0 auto;
}

.form__completion {
  font-size: $font-size--h3;
  line-height: $font-size--h3 + 2;
}

.form__submit {
  display: block;
  width: 256px;
  margin-top: 24px;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 16px;
  font-family: inherit;
  font-size: $font-size--middle;
  line-height: $font-size--middle - 1;
  font-weight: 700;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  border: 2px solid $color-black;
  cursor: pointer;
}

@media (min-width: $screen-md) {
  .form {
    margin: 0;
    padding: 0;
  }

  .form__inner {
    display: flex;
    flex-direction: row;
    max-width: 668px;
    margin: 0 auto;
  }

  .form__legend {
    width: 172px;
    align-items: flex-start;
    padding-top: 18px;

    &::before {
      display: none;
    }
  }

  .form__fieldset--header {
    background-color: #f1f1f1;
  }

  .form__legend--color {
    padding: 0;
    padding-top: 66px;
  }

  .form__inner--item {
    display: flex;
    flex-direction: column;
  }

  .form__wrapper {
    display: flex;
    max-width: 668px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .form__completion {
    order: 2;
    margin-left: auto;
    padding-top: 8px;
    font-size: $font-size--middle;
    line-height: $font-size--middle + 13;
  }

  .form__submit {
    width: 227px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
  }
}

@media (min-width: $screen-xl) {
  .form {
    margin: 0;
    padding: 0;
  }

  .form__inner {
    max-width: 1050px;
    margin: 0 auto;
  }

  .form__legend {
    width: 114px;
    padding-left: 62px;
  }

  .form__wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }

  .form__completion {
    padding-top: 8px;
  }
}
