.hit-list {
  display: none;
}

@media (min-width: $screen-xl) {
  .hit-list {
    display: block;
  }

  .hit-list__link {
    font-size: $font-size;
    line-height: $font-size + 9;
    font-weight: bold;
    color: $color-black;
    text-decoration: none;
  }
}
