.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__order {
  min-width: 320px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  text-align: center;
  min-height: 336px;
  padding: 0 30px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  background-color: #ffffff;
  box-sizing: border-box;
}

.modal__overlay {
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  z-index: 90;
}

.modal__order,
.modal__overlay {
  position: fixed;
  display: none;
  width: 100%;
}

.modal__order--show,
.modal__overlay--show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal__order-title {
  font-size: $font-size--sl;
  font-weight: 700;
  line-height: $font-size--sl + 5;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
}

.modal__order-select {
  font-size: $font-size;
  font-weight: 400;
  line-height: $font-size + 15;
  margin: 0;
  padding: 0;
}

.modal__order-group {
  font-size: $font-size--middle;
  font-weight: 700;
  line-height: $font-size--middle - 1;
  margin-top: 26px;
  margin-bottom: 30px;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__order-lable {
  flex-grow: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 33px;
  border: 2px solid $grey--dark;
  margin-right: 7px;
  cursor: pointer;

  &:hover {
    border: 2px solid #c7c7c7;
  }

  &:active {
    border: 2px solid $primary-color;
  }
}

.modal__order-size:checked + .modal__order-lable {
  border: 2px solid $primary-color;
}

.modal__buttom {
  display: inline-block;
  padding: 15px 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  outline: 0;
  font-size: $font-size--middle;
  font-weight: 700;
  line-height: $font-size--middle - 1;
  background-color: $primary-color;
  color: #ffffff;
  border: 2px solid $primary-color;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
}

@media (min-width: $screen-md) {
  .modal__order {
    width: 565px;
    padding-left: 104px;
    padding-right: 104px;
  }

  .modal__order-title {
    font-size: $font-size--sl + 5;
    font-weight: 700;
    line-height: $font-size--md + 30;
    padding: 0;
  }

  .modal__order-select {
    font-size: $font-size--middle;
  }
}
