.order {
  width: auto;
  margin: 0 auto;
}

.order__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 73px;
  padding-bottom: 77px;
  font-size: $font-size--md;
  line-height: $font-size--md + 3;
  font-weight: bold;
  color: $color-black;
  text-align: center;
  background-color: #f1f1f1;
}

.order__definition {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 30px;
}

.order__definition-text {
  margin: 0;
  font-size: $font-size--h5;
  line-height: $font-size--h5 + 11;
  text-align: left;
}

@media (min-width: $screen-md) {
  .order {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .order__title {
    margin-bottom: 72px;
    padding-top: 95px;
    padding-bottom: 82px;
    font-size: $font-size--md + 16;
    line-height: $font-size--md + 23;
  }

  .order__definition {
    align-items: flex-start;
    max-width: 668px;
    margin: 0 auto;
    margin-bottom: 56px;
    padding: 0;
  }

  .order__definition-text {
    margin: 0;
    font-size: $font-size--middle;
    line-height: $font-size--middle + 13;
    text-align: left;
  }
}

@media (min-width: $screen-xl) {
  .order__title {
    margin-bottom: 122px;
    padding-top: 95px;
    padding-bottom: 102px;
    font-size: $font-size--md + 26;
    line-height: $font-size--md + 30;
  }

  .order__definition {
    width: 700px;
    align-self: center;
  }
}
