.page-footer {
  width: auto;
  margin: 0 auto;
  background-color: $bg-color;
}

.page-footer__inner {
  display: grid;
  grid-template-columns: 1fr;
  width: 260px;
  margin: 0 auto;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin-right: 41px;
  margin-left: 38px;
  padding-top: 23px;
  padding-bottom: 26px;
}

.page-footer__copyright-text {
  margin: 0;
  font-size: $font-size--h4;
  line-height: $font-size--h4 - 1;
  font-weight: bold;
  padding-top: 4px;
}

.page-footer__foto {
  fill: $primary-color;

  &:hover {
    fill: $aqua-color;
    transition: all 0.2s;
  }

  &:active {
    opacity: 0.3;
    transition: all 0.2s;
  }
}

.page-footer__logo-image {
  display: none;
}

@media (min-width: $screen-md) {
  .page-footer__inner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 668px;
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 50px;
  }

  .page-footer__copyright-text {
    margin: 0;
    padding-top: 8px;
    font-size: $font-size--middle + 2;
    line-height: $font-size--middle + 1;
    font-weight: bold;
    color: $color-black;
  }

  .page-footer__logo-image {
    width: 102px;
    display: block;
    padding-bottom: 5px;

    &:hover {
      fill: $aqua-color;
      transition: all 0.2s;
    }
  }

  .page-footer__logo {
    width: 218px;
    margin-left: 0;
    align-self: center;
  }

  .page-footer__copyright {
    width: 182px;
    padding: 0;
    padding-top: 4px;
    margin-right: 0;
  }

  .page-footer__foto {
    width: 27px;
    height: 34px;
    padding-top: 2px;
    fill: $text-aqua;
  }
}

@media (min-width: $screen-xl) {
  .page-footer__inner {
    width: 1050px;
    margin: 0 auto;
  }

  .page-footer__logo {
    width: 406px;
  }

  .page-footer__copyright {
    width: 350px;
    margin: 0;
  }

  .page-footer__copyright-text {
    margin-left: auto;
    margin-right: 29px;
    padding-top: 9px;
  }
}
