.product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.product__wrapper {
  width: 260px;
  margin: 0 auto;
}

.product__inner {
  margin-bottom: 36px;
}

.product__text-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: $font-size--sl;
  line-height: $font-size--sl + 5;
  font-weight: bold;
  color: $color-black;
}

.product__text-hit {
  margin: 0;
  margin-bottom: 17px;
  font-size: $font-size--middle;
  line-height: $font-size--middle + 3;
  font-weight: bold;
  color: $text-aqua;
  text-transform: uppercase;
}

.product__description {
  margin-bottom: 18px;
}

.product__description-text {
  margin: 0;
  line-height: $font-size + 9;
}

.product__properties {
  width: 260px;
  margin-bottom: 30px;
  border-collapse: collapse;
}

.product__properties tr {
  height: 40px;
  border-bottom: 1px solid $grey--dark;
}

.product__property-name {
  padding-right: 12px;
  line-height: $font-size + 5;
  color: $text-dark;
}

.product__property-value {
  line-height: $font-size + 5;
  color: $text-dark;
}

.product__buy {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.product__buy-price {
  align-self: center;
  margin-top: 26px;
  margin-bottom: 25px;
  font-size: $font-size--middle;
  line-height: $font-size--middle + 7;
  font-weight: bold;
  color: $text-dark;
}

.product__buy-order {
  display: block;
  width: 256px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  font-size: $font-size--middle + 1;
  line-height: $font-size--middle + 3;
  font-weight: bold;
  color: $text-dark;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $color-black;
}

.product__picture-foto {
  display: block;
  width: 260px;
  height: 315px;
}

@media (min-width: $screen-md) {
  .product {
    margin-bottom: 57px;

    &::after {
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 17px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
    }
  }

  .product__wrapper {
    width: 668px;
  }

  .product__text {
    width: auto;
    display: flex;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 668px;
    margin-bottom: 48px;
  }

  .product__text-title {
    align-self: flex-end;
    margin: 0;
    margin-right: auto;
    font-size: $font-size--md + 16;
    line-height: $font-size--md + 23;
  }

  .product__text-hit {
    flex-basis: 75px;
    align-self: center;
    margin: 0;
    margin-top: 2px;
    margin-right: 25px;
    text-align: center;
    font-size: $font-size--middle;
    line-height: $font-size--middle;
  }

  .product__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 368px;
    margin-bottom: 50px;
  }

  .product__picture {
    position: absolute;
    top: 3px;
    right: 0;
    z-index: -1;
  }

  .product__description {
    width: 300px;
    margin: 0;
    margin-top: -7px;
    margin-bottom: 39px;
  }

  .product__description-text {
    font-size: $font-size--middle;
    line-height: $font-size--middle + 13;
  }

  .product__properties {
    width: 292px;
    margin-bottom: 60px;
  }

  .product__property-name {
    padding: 0;
  }

  .product__buy {
    margin-right: auto;
  }

  .product__buy-price {
    display: block;
    font-size: $font-size + 5;
    line-height: $font-size + 9;
    text-align: center;
    margin: 0;
    margin-bottom: 33px;
  }

  .product__buy-order {
    display: block;
    width: 289px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .product__picture-foto {
    width: 334px;
    height: 406px;
  }
}

@media (min-width: $screen-xl) {
  .product {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 68px;

    &::after {
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 23px;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
    }
  }

  .product__wrapper {
    position: relative;
    width: 1050px;
  }

  .product__text {
    display: flex;
    width: 655px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0;
    margin-left: 44px;
    margin-bottom: 45px;
    padding-top: 60px;
  }

  .product__text-title {
    order: 2;
    flex-shrink: 0;
    font-size: $font-size--md + 26;
    line-height: $font-size--md + 30px;
  }

  .product__text-hit {
    order: 1;
    align-self: center;
    margin-right: 60px;
    margin-top: -4px;
  }

  .product__inner {
    position: static;
    margin-left: 175px;
    margin-bottom: 75px;
  }

  .product__picture {
    position: absolute;
  }

  .product__properties {
    margin-bottom: 115px;
  }

  .product__description {
    margin-bottom: 49px;
  }

  .product__picture-foto {
    width: 525px;
    height: 636px;
  }
}
