.promo {
  display: flex;
  flex-direction: column;
  min-height: 373px;
  margin: 0 auto;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  background-color: $bg-color-dark;
  margin-bottom: 31px;
}

.promo__wrapper {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__title {
  margin: 0;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 70px;
  padding-bottom: 122px;
  font-size: $font-size--md;
  font-weight: bold;
  line-height: $font-size--md + 3;
  text-align: center;
  color: $color-black;

  &--box {
    width: 260px;
    margin: 0 auto;
  }
}

.promo__item {
  &--decor {
    height: 103px;
    background-color: $primary-color;
  }

  &--toy {
    height: 103px;
    background-color: $info-color;
  }
}

.promo__link {
  text-decoration: none;
}

.promo__inner {
  display: flex;
  justify-content: space-between;

  &--decor {
    padding-right: 36px;
    padding-left: 30px;
    padding-top: 23px;
    padding-bottom: 16px;
    margin: 0;
  }

  &--toy {
    padding-right: 27px;
    padding-left: 30px;
    padding-top: 22px;
    padding-bottom: 20px;
    margin: 0;
  }
}

.promo__text {
  display: block;
  width: auto;
  max-width: 114px;
  font-size: $font-size--h4;
  line-height: $font-size--h4 + 5;
  font-weight: bold;
  white-space: pre-line;
  color: #ffffff;
}

@media (min-width: $screen-md) {
  .promo {
    position: relative;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px auto;
    background-position: center 0px;
    margin-bottom: 51px;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }

    &::before {
      position: absolute;
      content: "";
      left: 0px;
      bottom: -10px;
      width: 100%;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      // background-size: 759px 24px;
    }
  }

  .promo__title {
    padding-top: 154px;
    padding-left: 2px;
    padding-right: 7px;
    padding-bottom: 100px;
    min-height: 371px;
    font-size: $font-size--md + 16;
    line-height: $font-size--md + 23;

    &--box {
      width: 668px;
    }
  }

  .promo__text {
    font-size: $font-size--h4 + 1;
    line-height: $font-size--h4 + 11;
  }

  .promo__wrapper {
    max-width: 668px;
    margin: 0 auto;
  }

  .promo__inner {
    &--decor {
      padding-right: 36px;
      padding-left: 36px;
      padding-top: 27px;
      padding-bottom: 16px;
    }

    &--toy {
      padding-right: 34px;
      padding-left: 36px;
      padding-top: 27px;
      padding-bottom: 16px;
    }
  }
  .promo__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .promo__item {
    width: 334px;
    height: 119px;
  }
}

@media (min-width: $screen-xl) {
  .promo {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;
    margin-bottom: 72px;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .promo__title {
    padding-top: 154px;
    padding-left: 213px;
    padding-right: 214px;
    font-size: $font-size--md + 26;
    line-height: $font-size--md + 30;

    &--box {
      max-width: 1050px;
    }
  }

  .promo__wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }

  .promo__item {
    width: 525px;
  }

  .promo__inner {
    display: flex;
    justify-content: space-between;

    &--decor {
      padding-right: 35px;
      padding-left: 35px;
      padding-top: 30px;
      padding-bottom: 10px;
      margin: 0;
    }

    &--toy {
      padding-right: 34px;
      padding-left: 36px;
      padding-top: 30px;
      padding-bottom: 12px;
      margin: 0;
    }
  }
}
