.reviews {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-bottom: 85px;
}

.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  margin: 0;
  margin-bottom: 22px;
  font-size: $font-size--sl;
  line-height: $font-size--sl + 5;
  font-weight: bold;
  color: $color-black;
}

.reviews__item {
  margin: 0;
}

.reviews__item-text {
  margin: 0;
  margin-bottom: 27px;
  line-height: $font-size + 15;
}

.reviews__item-name {
  font-size: $font-size--middle;
  font-weight: bold;
  color: $color-black;
  margin-bottom: 20px;
}

.reviews__link {
  position: static;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: $font-size--h2;
  line-height: $font-size--h2 + 2;
  font-weight: bold;
  color: $text-dark;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $color-black;
}

@media (min-width: $screen-md) {
  .reviews {
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;
    padding-top: 80px;
    padding-bottom: 70px;
    padding-right: 50px;
    padding-left: 39px;
    margin-bottom: 108px;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/review@2x.jpg 2x")
    }
  }

  .reviews__wrapper {
    position: relative;
    width: 668px;
  }

  .reviews__title {
    margin-bottom: 49px;
    font-size: $font-size--md + 16;
    line-height: $font-size--md + 23;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .reviews__item-text {
    width: 642px;
    margin-bottom: 55px;
    padding-left: 2px;
    font-size: $font-size--middle;
  }

  .reviews__item-name {
    margin-bottom: 1px;
  }

  .reviews__link {
    position: absolute;
    right: -3px;
    top: 0;
    width: 172px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: $font-size--middle;
    text-align: center;
  }
}

@media (min-width: $screen-xl) {
  .reviews {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 98px;
    margin-bottom: 159px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .reviews__title {
    margin-left: 170px;
    padding-top: 69px;
    font-size: $font-size--md + 26;
    line-height: $font-size--md + 30;
  }

  .reviews__item-text {
    margin-left: 175px;
    margin-bottom: 37px;
    width: 770px;
    font-size: $font-size--middle;
    line-height: $font-size--middle + 13;
  }

  .reviews__item-name {
    margin-left: 175px;
  }

  .reviews__item-nik-link {
    margin-left: 175px;
  }

  .reviews__link {
    position: absolute;
    display: block;
    right: 0;
    top: 78px;
    width: 170px;
    padding-top: 16px;
    padding-bottom: 15px;
    text-align: center;
    border: 2px solid #000000;
  }
}
