.slider__nav {
  position: static;
  display: flex;
  margin-top: 29px;
  margin-bottom: 38px;
}

.slider__arrow {
  width: 130px;
  padding: 10px 0;
  border: 1px solid $grey--dark;
  background-color: #ffffff;
}

@media (min-width: $screen-md) {
  .slider {
    position: relative;
  }

  .slider__nav {
    position: absolute;
    bottom: 12px;
    right: 0;
    width: 155px;
    margin: 0;
  }

  .slider__arrow {
    background-color: #ffffff;
    border: none;
    padding: 0;
    margin: 0;

    &:nth-child(2) {
      margin-left: 33px;
      margin-right: 14px;
    }
  }
}

@media (min-width: $screen-xl) {
  .slider__nav {
    width: 155px;
  }

  .slider__arrow {
    &:nth-child(2) {
      margin-right: 15px;
      margin-left: 35px;
    }
  }
}
