.social-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 57px;
  padding-right: 63px;
  padding-top: 25px;
  padding-bottom: 19px;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

.social-list__item:hover {
  fill: $text-aqua;
  transition: all 0.2s;
}

.social-list__item:active {
  fill: $text-aqua;
  opacity: 0.3;
  transition: all 0.2s;
}

@media (min-width: $screen-md) {
  .social-list {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 142px;
    margin: 0 auto;
    padding: 0;
    padding-top: 12px;
    border: none;
  }

  .social-list__insta {
    padding-top: 5px;
  }

  .social-list__twitter {
    padding-top: 5px;
  }
}

@media (min-width: $screen-xl) {
  .social-list {
    width: 141px;
  }
}
