.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 59px;
  padding-right: 59px;
  padding-top: 25px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

.social-list__item:hover {
  fill: $text-aqua;
  transition: all 0.2s;
}

.social-list__item:active {
  fill: $text-aqua;
  opacity: 0.3;
  transition: all 0.2s;
}

@media (min-width: $screen-md) {
  .social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    margin-right: auto;
    margin-left: 6px;
    padding: 0;
    border: none;
  }

  .social-list__insta {
    padding-top: 5px;
  }

  .social-list__twitter {
    padding-top: 5px;
  }
}

@media (min-width: $screen-xl) {
  .social-list {
    width: 141px;
  }
}
