.user-list__link {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 76px;
  font-size: $font-size--middle;
  color: $color-black;
  font-weight: bold;
  line-height: $font-size--middle + 7;
  text-decoration: none;
}
