$font-size: 15px;
$font-size--middle: 17px;
$font-size--h2: 18px;
$font-size--h3: 14px;
$font-size--h4: 19px;
$font-size--h5: 13px;
$font-size--sl: 15px + 10px;
$font-size--md: 15px + 12px;


$font-family: "Open Sans", "Arial", sans-serif;

$color-black: #000000;
$bg-color: rgb(241, 241, 241);
$bg-color-dark: #f9f9f9;


$text-dark: #444444;
$text-aqua: #62d1ba;

$grey--dark: #ececec;
$primary-color: #63d1bb;
$info-color: #56c3b2;

$screen-md: 768px;
$screen-xl: 1150px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
