.video-production {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 59px;
}

.video-production__list {
  display: flex;
  position: relative;
}

.video-production__play {
  position: absolute;
  left: 79px;
  top: 132px;

  &:hover {
    transform: scale(1.2);
    transition: all 0.2s;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.6;
    transition: all 0.2s;
  }
}

.video-production__title {
  margin: 0;
  padding-left: 90px;
  margin-top: 22px;
  margin-bottom: 25px;
  font-size: $font-size--middle;
  line-height: $font-size--middle + 7;
  font-weight: bold;
  color: $color-black;
  text-align: left;
}

.video-production__description-text {
  margin: 0;
  margin-bottom: 40px;
  padding-left: 34px;
  padding-right: 30px;
  font-size: $font-size--h5;
  line-height: $font-size--h5 + 11;
}

.video-production__link {
  width: 186px;
  align-self: center;
  padding-top: 18px;
  padding-bottom: 15px;
  margin-bottom: 32px;
  font-size: $font-size--middle + 1;
  line-height: $font-size--middle - 1;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: $text-dark;
  border: 2px solid #000000;
}

.video-production__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 259px;
  border: 1px solid #ececec;

  &:focus,
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video-production__image {
  width: 260px;
  height: 150px;
  margin-bottom: 26px;
}

.video-production__video {
  position: absolute;
  top: 29px;
  left: 33px;
  width: 32px;
  height: 32px;
  fill: $text-aqua;
}

@media (min-width: $screen-md) {
  .video-production {
    width: 667px;
    margin: 0 auto;
    margin-top: -2px;
    margin-bottom: 63px;
    padding: 0;
  }

  .video-production__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 667px;
  }

  .video-production__play {
    position: absolute;
    left: 283px;
    top: 189px;
  }

  .video-production__image {
    width: 668px;
    height: 453px;
    order: 1;
    margin-bottom: 29px;
  }

  .video-production__list {
    order: 2;
  }

  .video-production__title {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 24px;
    padding-left: 106px;
    font-size: $font-size--h4 + 1;
  }

  .video-production__description {
    order: 3;
  }

  .video-production__description-text {
    padding-left: 39px;
    padding-right: 42px;
    font-size: $font-size;
    line-height: $font-size + 15;
    margin-bottom: 41px;
  }

  .video-production__link {
    order: 4;
    width: 580px;
    margin-left: 43px;
    margin-right: 43px;
    margin-bottom: 45px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: $font-size--middle;
  }

  .video-production__video {
    position: absolute;
    left: 40px;
    top: -4px;
  }
}

@media (min-width: $screen-xl) {
  .video-production {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 105px;
  }

  .video-production__inner {
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 1050px;
    min-height: 453px;
  }

  .video-production__play {
    position: absolute;
    left: 290px;
    top: 189px;
    z-index: 1;
  }

  .video-production__image {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 682px;
    height: 455px;
    margin-right: 40px;
  }

  .video-production__title {
    margin-bottom: 28px;
    padding-right: 119px;
    padding-top: 89px;
    padding-left: 39px;
    width: 170px;
  }

  .video-production__description-text {
    width: 223px;
    padding-right: 66px;
    margin-bottom: 44px;
  }

  .video-production__link {
    width: 228px;
    margin-top: 10px;
    margin-right: 57px;
    align-self: flex-end;
  }

  .video-production__video {
    position: absolute;
    left: 40px;
    top: 41px;
  }
}
